.DS_Store
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage / test artifacts
coverage
*.lcov
.nyc_output

# Build / cache artifacts
.cache
.parcel-cache
.eslintcache
.stylelintcache
*.tsbuildinfo

# Output of 'npm pack'
*.tgz

# dotenv environment variable files
.env
.env.*.local
.env.local

# wrangler / cloudflare local state
.dev.vars
.wrangler/
local-store/

# build output
dist/

# data/sqld
data.sqld
